body {
    background-image: url(venice.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    height: 100vh;

}

#clock {
    font-family: Geneva sans-serif;
    font-size: 5.5rem;
    font-weight: normal;
    text-align: center;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1);

}